html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial,
    sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: var(--black, #000000);
  fill: var(--black, #000000);
  stroke: var(--black, #000000);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 42px;
  line-height: 42px;

  @include mw(719px) {
    font-size: 32px;
    line-height: 36px;
  }
}

h2 {
  font-size: 32px;
  line-height: 36px;

  @include mw(719px) {
    font-size: 24px;
    line-height: 28px;
  }
}

h3 {
  font-size: 24px;
  line-height: 28px;

  @include mw(719px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.h1,
.h2 {
  margin-top: 60px;

  @include mw(719px) {
    margin-top: 40px;
  }
}

.h3 {
  margin-top: 40px;

  @include mw(719px) {
    margin-top: 30px;
  }
}

p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;

  @include mw(719px) {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1180px;

  @include mw(1280px) {
    margin: 0 50px;
  }

  @include mw(719px) {
    margin: 0 30px;
  }
}

.only-desktop {
  @include mw(1024px) {
    display: none !important;
  }
}

.only-not-desktop {
  @include mw(1024px, min) {
    display: none !important;
  }
}

.page {
  padding: 70px 0;

  @include mw(719px) {
    padding: 40px 0;
  }
}

.icon {
  width: 22px;
  height: 22px;
}

.link {
  box-shadow: 0px 0px 0px var(--white), 0px 1px 0px var(--main);

  &:hover {
    transition: 0.3s;
    color: var(--accent);
    box-shadow: 0px 0px 0px var(--white), 0px 1px 0px var(--accent);
  }
}
